[include macros/*.cfg]
[include macros/Demon_Klipper_Essentials_Unified/*.cfg]
[include macros/KAMP_lite/KAMP_Settings.cfg]
[include hardware/*.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

[respond]

[exclude_object]

[force_move]
enable_force_move: true

[save_variables]
filename: macros/demon_vars.cfg
