# Stepper_Buzz_Cycle
# Will give you a guided test of all your motors by buzzing them 1mm to the positive side then back again, if any go negative (to home) then reverse 
# their direction by placing a "!" in front of the "Dir" pin for that stepper.
# watch the status window for messages & countdown to which stepper is up next!

# NOTE: If you only have 4 drivers on your system you will need to comment out the line to test stepper_z1
# NOTE: It will NOT test your Extruder - you will have to do that manually
# Use "STEPPER_BUZZ STEPPER=extruder" & be sure to have the nozzle hot for this!

[gcode_macro Stepper_Buzz_Cycle]
gcode:
     M117 Stepper X Buzz Cycle in 10 Seconds!
    M118 Stepper X Buzz Cycle in 10 Seconds!
    G4 P5000
    M117 5 Seconds!
    M118 5 Seconds!
    G4 P3000
    M117 Stepper X! READY GO!
    M118 Stepper X! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_x

    M400
    M117 Stepper Y Buzz Cycle in 10 Seconds
    M118 Stepper Y Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    M118 5 Seconds!
    G4 P3000
    M117 Stepper Y! READY GO!
    M118 Stepper Y! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_y

    M400
    M117 Stepper Z Buzz Cycle in 10 Seconds
    M118 Stepper Z Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    M118 5 Seconds!
    G4 P3000
    M117 Stepper Z! READY GO!
    M118 Stepper Z! READY GO!
    G4 P2000
    STEPPER_BUZZ STEPPER=stepper_z

    M400
    M117 Stepper Z1 Buzz Cycle in 10 Seconds
    M118 Stepper Z1 Buzz Cycle in 10 Seconds
    G4 P5000
    M117 5 Seconds!
    M118 5 Seconds!
    G4 P3000
    M117 Stepper Z1! READY GO!
    M118 Stepper Z1! READY GO!
    G4 P2000

# NOTE if you only have 4 drivers comment out the line below this with a "#" at the very start
    STEPPER_BUZZ STEPPER=stepper_z1 # Comment out this line only
    M117 CYCLE COMPLETE!
    M118 CYCLE COMPLETE!
    G4 P6000
    M117
